{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 13,
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint", "mocha"],
	"rules": {
		// disables the no-unused-vars rule
		"no-unused-vars": ["off"],
		// forces the use of const or let instead of var
		"no-var": ["error"],
		// use 2 spaces for indentation
		"indent": ["error", 2],
		// semicolons are required
		"semi": ["error", "always"],
		// use double quotes
		"quotes": ["error", "double"],
		// dont move comma to new line
		"comma-dangle": ["error", "never"],
		// use unix linebreaks
		"linebreak-style": ["error", "unix"],
		// add a space before and after brackets
		"array-bracket-spacing": ["error", "always"],
		// adds a space before and after curly braces
		"object-curly-spacing": ["error", "always"],
    // consistent newlines inside braces
    "object-curly-newline": ["error", {"multiline": true}],
		// moves the dot before a function call to the next line
		"newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
		// ensures that functions are defined before they are used
		"func-style": ["error", "declaration", { "allowArrowFunctions": true }],

    // alphabetize imports
    "sort-imports": ["error", {
      "ignoreCase": true,
      "ignoreDeclarationSort": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],

    
    // no skipping of tests
		"mocha/no-skipped-tests": ["error"],
		// no exclusive tests
		"mocha/no-exclusive-tests": ["error"],
    
	},
	// rules for typescript files only
	"overrides": [
		{
			"files": ["*.ts"],
			"rules": {
				// force type imports to be used
				"@typescript-eslint/consistent-type-imports": [
					"error",
					{ "prefer": "type-imports" }
				]
			}
		}
	]
}
