# only publish what is necessary, ignore everything else below

## folders
src
tests
scripts

## config files
tsconfig.json
tslint.json
.env.sample
.eslintrc
.eslintignore
.mocharc.json
.vscode

# build files
*.tgz
